
@media screen and (min-width : 0){
    .basic-info-display_image {
        width: 90%;
        display: block;
        margin: auto;
    }
}
@media screen and (min-width : 1000px){
    .basic-info-display_image {
        width: 650px;
        margin: auto;
    }    
}