* {
	margin: 0;
	padding: 0;
	font-family: asap;
	scroll-behavior: smooth;
	color: #fff;
}

@font-face {
	font-family: font;
	src: url(../fonts/fanta__.ttf);
}

@font-face {
	font-family: dunkin;
	src: url(../fonts/Dunkin\ Sans.otf);
}

@font-face {
	font-family: kanit;
	src: url(../fonts/Kanit-Light.ttf);
}

@font-face {
	font-family: josefin;
	src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
	font-family: asap;
	src: url(../fonts/Asap-SemiBold.ttf);
}

.main {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #2c1f12;
	background-size: 20px 20px;
}

.description-carousel {
	margin: 5em auto;
	width: 60%;
	display: flex;
}

.description-carousel-text {
	margin: auto;
	width: 30%;
	height: 5em;
	text-align: center;
}

.item img {
	cursor: grab;
	border-radius: 2rem;
	pointer-events: none;
	height: 50vh;
}

.inner-carousel {
	display: flex;
}

.carousel {
	cursor: grab;
	overflow: hidden;
}

.introduction-section {
	background: linear-gradient(to top, transparent, #000000);
}

.introduction {
	padding-top: 100px;
	text-shadow: 2px 5px #000000;
	text-align: justify;
	font-size: min(1.5vw, 18px);
	width: 35%;
	margin: auto;
	line-height: 50px;
	z-index: 100;
}

.slider-card {
	margin: 10px 20px;
	border-radius: 5%;
	display: block;
	opacity: 0.6;
}

.slider-card:hover {
	opacity: 1;
	transform: scale(1.02);
}

.slider-text {
	width: 100%;
	color: white;
	padding: 30px auto;
	text-align: justify;
}


.slider {
	margin-top: 100px;
	background: linear-gradient(to top, #000000, transparent);
}

.title-slider {
	text-shadow: 5px 10px #000000;
	text-align: center;
	font-size: min(5vw, 50px);
	width: 50%;
	margin: auto;
	line-height: 50px;
	z-index: 100;
	margin-bottom: 50px;
}

.description-section {
	background: linear-gradient(to top, transparent, #000000);
}

.description {
	padding-top: 100px;
	text-shadow: 2px 5px #000000;
	text-align: justify;
	font-size: min(1.5vw, 20px);
	width: 50%;
	margin: auto;
	line-height: 50px;
	z-index: 100;
}

.video-section {
	margin-top: 100px;
	width: 100%;
}

.video {
	display: flex;
	justify-content: center;
}

.frame {
	width: 50%;
}


header {
	position: absolute;
	width: 90%;
	padding: 2% 5%;
	display: flex;
	justify-content: space-between;
	z-index: 10000;
}

header .logo {
	text-decoration: none;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul {
	display: flex;
	justify-content: center;
	align-fs: center;
}

header ul li {
	list-style: none;
	transform: translateY(35px);
	margin-left: 20px;
}

.linkButton {
	text-decoration: none;
	font-size: min(3vw, 36px);
	border-radius: 20px;
	padding: 5px;
}

.linkButton:hover,
.linkButtonActive {
	background: #fff;
	color: #7c4b07
}

header ul li a {
	text-decoration: none;
	font-size: min(3vw, 36px);
	border-radius: 20px;
	padding: 5px;
}

header ul li a:hover,
header ul li a.active {
	background: #fff;
	color: #7c4b07
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #000000;
	background: black;
}

section::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #000000, transparent);
	z-index: 1000;
}

section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section img#wall {
	pointer-events: none;
	position: fixed;
	z-index: 2000;
}

section img#bat {
	z-index: 5;
}

section img#lights {
	animation: opacity-in 4s infinite;
}

section img#tabern {
	animation: opacity-breathe 4s infinite;
}

@keyframes opacity-in {
	0% {
		opacity: 0.2;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.2;
	}
}

@keyframes opacity-breathe {
	0% {
		opacity: 0.85
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.85;
	}
}

.sliderDescription {
	text-shadow: 2px 5px #000000;
	text-align: center;
	width: 40%;
	font-size: min(1.5vw, 20px);
	margin: auto;
	line-height: 50px;
	z-index: 100;
}