.description-section {
	background: linear-gradient(to top, transparent, #000000);
}

.description {
	padding-top: 100px;
	text-shadow: 2px 5px #000000;
	text-align: justify;
	font-size: min(1.5vw, 20px);
	width: 50%;
	margin: auto;
	line-height: 50px;
	z-index: 100
}