.introduction-section {
	background: linear-gradient(to top, transparent, #000000);
	padding-top: 2%;
	padding-bottom: 5%;
}

/* .introduction {
	padding-top: 5%;
	text-shadow: 2px 5px #000000;
	text-align: justify;
	font-size: 1.2em;
	width: 70%;
	z-index: 100;
	padding-bottom: 5%;
	border: 2px solid rgba(180, 140, 30, 0.7);
	border-radius: 2em;
	background-image: repeating-linear-gradient(36deg, rgba(122, 69, 24, 0.55), rgba(112, 63, 16, 0.85) 1px, transparent 0px, transparent 2px);
	background-size: 12px;
} */

.introduction
 {
	margin-left: 50px;
	font-size: clamp(2rem, 2.5vw, 3.2rem); 
	line-height: 1.5em;
	text-shadow: 4px 0px 4px rgb(135, 135, 135);
	max-width: 75ch;
	text-align: left;
}

@media screen and (min-width: 1349px) {
	.introduction{
		padding-left: 25%;
		padding-right: 15%;
	}
}

/* For Mobile Portrait View */
@media screen and (max-width: 1358px){
	.introduction{
		margin: auto auto;
		padding: 8%;
	}
}
 
