header {
	position: fixed;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	justify-content: space-between;
	align-items: center;
	z-index: 750;
	transition: 0.6s;
}

/* phones */
@media screen and (max-width:1158px){
	header{
		display: inline-block;
		text-align: center;
	}
	header nav a {
		line-height: 1.6em;
	}
}

/* pc */
@media screen and (min-width:1158px){
	header{
		display: flex;
	}
	header .logo{
		margin-left: 20px;
	}
}

header .logo {
	display: block;
	font-size: clamp(3rem, 2.5vw, 6rem); 
	text-shadow: 1px 1px black;
}

header nav {
	display: flex;
	justify-content: center ;
}

header nav a {
	margin: 5px 1.5vw;
	list-style: none;
	padding: 0.2vh 1vw;
	text-decoration: none;
	border-radius: 15px;
	font-size: clamp(1.7rem, 2.5vw, 3rem);
}

header nav a:hover,
header nav a.active {
	text-decoration: none;
	background: #fff;
	color: #7c4b07;
	cursor: pointer;
}