.video-section {
	margin-top: 100px;
	width: 100%;
	background: linear-gradient(to bottom, transparent, #000000);
	padding-top: 2%;
	padding-bottom: 5%;
}

.video {
	display: flex;
	justify-content: center;
}

.frame {
	width: 90%;
}

@media screen and (min-width: 1349px){
	.video-section {
		width: 100%;
	}

	.video {
		margin-left: 30%;
		width: 55%;
	}
}