.image-top_section {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	animation:opacity-in 0.1s;
	background-color: black;
	/* overflow: cover; */
}

.image-top_section::-webkit-scrollbar {
	display: none;
  }

.image-top_section img {
	position: absolute;
	object-position: top left;
	top: 0;
	left: 0;
	height: 100vh;
	min-width: 100vw;
}


.image-top_section img#bat {
	z-index: 5;
}

.image-top_section img#demon {
	overflow-x: hidden;
	right: -20%;
}

.image-top_section img#lights {
	opacity: 0.8;
}

@media screen and (min-width : 0)  {
    #wall {
       /* opacity: 0; */
	   position: absolute;
    }
	.image-top_section img {
		height: 85vh;
	}
}

@media screen and (max-width : 800px)  {
	.image-top_section img#tabern, img#lights {
		animation: move-background 6s;
	}
}

@media screen and (min-width : 1000px)  {

	.image-top_section {
		height: 100vh;
	}

	.image-top_section img {
		height: 100vh;
	}

	#wall {
		position: fixed;
	}
}

#wall {
	pointer-events: none;
	/* position: fixed; */
	z-index: 500;
	min-width: 100vw;
    pointer-events: none;
}

@keyframes opacity-in {
	0% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

.image-top_flex {
	object-position: top left;
}


@keyframes opacity-breathe {
	0% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.4;
	}
}

@keyframes move-background {
	0% {
		left: -400px;
	}

	100% {
		left : 0px;
	}
}

