* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font;
  scroll-behavior: smooth;
}

.main {
  min-height: 100vh;
  background-color: #000000;
}

.item {
  min-height: 40rem;
  width: 30rem;
  min-width: 30rem;
  padding: 40px;
}

.item img{
  cursor: grab;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carousel{
  display: flex;
  border-radius: 2rem;
}

.carousel {
  border-radius: 2rem;
  cursor: grab;
  overflow: hidden;
}

.description {
  color: white;
  text-shadow: 2px 5px #000000;
  text-align: left;
  font-family: font;
  font-size: 35px;
  width: 50%;
  margin: 20px auto;
  line-height: 50px;
  z-index: 100;
}

@font-face {
  font-family: font;
  src: url(./fonts/fanta__.ttf);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  transform: translateY(8px);
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  font-size: 2em;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #7c4b07
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1000;
}

section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#wall{
  pointer-events: none;
  position: fixed;
  z-index: 2000;
}

section img#bat{
  z-index: 5;
}

section img#demon{
  width: 100%;
  object-fit: cover;
}
